    * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background-color: #01161e;
  height: 70px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
  font-size: 1.7rem;
}
.menu {
  width: 900px;
  margin-right: 20px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
a {
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  color: blue;
}
.box {
  height: 90vh;
  background-color: #aec3b0;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
p{
  font-size: 35px;
}